# Site settings
title: Emmia Silk
email: contact@emmiasilk.com
description: >-
  Emmia Silk's personal website
baseurl: "" # the subpath of your site, e.g. /blog
url: "http://EmmiaSilk.com" # the base hostname & protocol for your site, e.g. http://example.com
github_username: EmmiaSilk

# Build settings
markdown: kramdown
plugins:
  - jekyll-feed
  - jekyll-seo-tag

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - README.md
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
