/** Style Resets */
html, body,
h1, h2, h3, h4, h5, h6,
p, div, span,
{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, main {
  display: block;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: $base-font-weight;
}
